
table {
    width: 0%; /* Or any width less than 100% */
    margin-left: auto;
    margin-right: auto;
    /* Shorthand for margin-left: auto; margin-right: auto; */
    /* margin: 0 auto; */ 
    
}
.char-style {
    font-size: 50px;
    font-weight: bold;
    border: 2px solid;
}